/* Webkit, o, ms prefixed by https://autoprefixer.github.io */

@media (min-width: 31.25rem) {
    .home-title {
        font-size: 3.5rem;
    }
}

@media (min-width: 56rem) {
    p {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    .skill-list {
        font-size: 1.2rem;
    }

    .topnav {
        height: 5rem;
        background: transparent;
    }

    .nav-container {
        height: 5rem;
    }

    .nav-container .checkbox,
    .nav-container .hamburger-lines {
        display: none;
    }

    .logo {
        top: 1rem;
        left: 4vw;
        width: 3rem;
        height: 3rem;
    }

    .topnav-items {
        height: unset;
        -webkit-transform: translate(0%);
            -ms-transform: translate(0%);
                transform: translate(0%);
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
        padding: 2.5vh 4vw;
    }

    .fa-linkedin {
        margin-left: 1rem !important;
    }

    .social-media a {
        padding-bottom: 0.1rem !important;
    }

    .topnav-items a {
        padding: 0.3rem 0.5rem;
        margin-left: 2rem;

        -webkit-transition-duration: 0.3s;

             -o-transition-duration: 0.3s;

                transition-duration: 0.3s;
    }

    .empty-container {
        display: block;
    }

    .home-banner-basis {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }

    .myphoto {
        width: 50vw;
    }

    .position {
        font-size: 1.5rem;
    }

    .home-title {
        font-size: 8vw;
    }

    .container {
        padding-top: 10vh;
        padding-bottom: 12vh;
    }

    .striped-pattern {
        display: block;
        z-index: -1;
        position: absolute;
        top: 23vh;
        left: 11vw;
        width: 12rem;
        height: auto;
        opacity: 0.2;
        margin: 0;
    }

    .striped-pattern-bottom {
        display: block;
        z-index: 1;
        position: absolute;
        top: 134vh;
        left: 11vw;
        width: 12rem;
        height: auto;
        opacity: 0.2;
        margin: 0;
    }

    p.intro {
        font-size: 1.1rem;
        max-width: 27vw;
        line-height: 1.5rem;
    }

    .intro-text {
        top: 33.33vh;
        left: 18vw;
        padding: 0;
        margin: 0;
        background-color: transparent;
    }

    .project-text {
        top: 145vh;
        left: 17.5vw;
        padding: 0;
    }

    .myStory-text {
        padding: 10%;
    }

    .about-story {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: 3%;
    }

    .myskills,
    .about-bottom-nav,
    .project-info,
    .contact-form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .project-element {
        font-size: 1.2rem;
    }

    .process-analysis p {
        max-width: 50%;
    }

    .pa-para {
        padding-left: 3vw;
    }

    .pa-h4 {
        font-size: 1.3rem;
        margin-top: 4vh;
    }

    .process-analysis .para-nextto-img {
        padding-bottom: 0;
        padding-left: 0;
    }

    .process-analysis-section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .aboutme-title {
        font-size: 4vw;
    }

    .aboutme-content {
        padding-bottom: 13rem !important;
    }

    .imgBtn-big-title {
        font-size: 4vw;
    }

    .btn-overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(255, 244, 228);
        opacity: 0;
        font-size: 1.1rem;    
        color: black;
        text-decoration: underline;
        padding: 0;
        margin: 0;
    
        -webkit-transition-duration: 0.3s;
    
             -o-transition-duration: 0.3s;
    
                transition-duration: 0.3s;
    }
    
    .btn-overlay:hover,
    .btn-overlay:focus {
        opacity: 0.95;
        font-size: 1.1rem;    
        color: black;
        text-decoration: underline;
    }

    .btn-on-home {
        font-size: 1.25rem;
        padding: 0;
    }
    
    .imgBtn-small-title {
        font-size: 1.2rem;
    }

    .pa-h3{
        margin-top: 4vh;
        font-size: 2rem;
    }

    .pa-figurecaption {
        padding: 1rem;
        font-size: 1.6vw;
    }

    .physical-model-img {
        padding-top: 9vh !important;
    }
}

@media (min-width: 72.5rem) {
    .process-analysis-section-centre {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .process-analysis .para-nextto-img {
        padding-left: 3vw;
    }
}